* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

html,
body {
  font-size: 15px;
  font-family: sans-serif;
}

/* Makes a flex row */
.flexr {
  display: flex;
  flex-direction: row;
}

/* Makes a flex column */
.flexc {
  display: flex;
  flex-direction: column;
}

/* Makes flex elements centered */
.fcenter {
  justify-content: center;
  align-items: center;
}

nav {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5%;
  max-height: 10%;
}

header {
  min-width: 99vw;
  min-height: 99vh;
}
